<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <nav>
    <button mat-flat-button routerLink="/clients" class="nav-button">Clients</button>
  </nav>
  <nav>
    <button mat-flat-button routerLink="/sellers" class="nav-button">Sellers</button>
  </nav>
  <nav>
    <button mat-flat-button routerLink="/bicycles" class="nav-button">Bicycle</button>
  </nav>
</mat-toolbar>
