<mat-toolbar color="primary">
  <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">directions_bike</mat-icon>
  <span>Bike Paradise</span>
  <span class="example-spacer"></span>
  <nav *ngIf="userType">
    <button mat-flat-button routerLink="/clients" class="nav-button">Clients</button>
  </nav>
  <nav *ngIf="userType">
    <button mat-flat-button routerLink="/sellers" class="nav-button">Sellers</button>
  </nav>
  <nav *ngIf="userType">
    <button mat-flat-button routerLink="/bicycles" class="nav-button">Bicycle</button>
  </nav>
  <nav>
    <button mat-flat-button routerLink="/" class="nav-button">Vuelta al Login</button>
  </nav>
</mat-toolbar>
